{% extends 'base.html' %}

{% block content %}
    <input type="text" name="country" id="autocomplete"/>
{% endblock %}

{% block js_script %}
    <script>
        $(document).ready(function() {
            $('#autocomplete').autocomplete({
                serviceUrl: "{% url 'web:search' %}",
                minChars: 10,
                paramName: 'q',
                onSelect: function (suggestion) {
                    alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                }
            });
        })
    </script>
{% endblock %}